body {
  min-height: 400vh;
  margin: 0;
  color: rgb(0, 47, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
li {
  list-style: none;
}
nav {
  display: grid;
  grid-template-columns: 40% 60%;
  position: fixed;
  width: 100%;
  background: rgb(0, 0, 0);
  height: 60px;
  top: 0;
  transition: 0.3s;
text-transform : uppercase; 
}

nav:hover {
  background: blue;
  color: black ; 
}
h2,
ul {
  margin: 0;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  background: url(./bg.jpg) center/cover;
  height: 100vh;
}
